.commentDirection {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 5px;
}

.nextPrevContainer {
    /* border: 1px solid black; */
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 3px;
}

.nextIconComment {
    height: 100%;
    /* border: 1px solid red; */
    cursor: pointer;
    margin: 3px;
}