.login-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.login-container img {
    width: 100%;
    height: 100%;
}
.login-container h1{
    position: absolute;
    color:white;
    font-size: 46px;
    font-weight: 600;
    top:15%;
    left:7%;
}
.login-container .form{
    position: absolute;
    height: 490px;
    width: 400px;
    background-color: white;
    box-shadow: 15px 15px 10px black;
    /* opacity: 0.9; */
    top: 50%;
    right: 25%;
    transform: translate(+50%,-50%);
    border-radius: 20px 20px;
}
.login-container .form .form-title{
    position: absolute;
    color: black;
    font-size: 32px;
    top: 7%;
    left: 11%;
}
.login-container .form p {
    position: absolute;
    top: 17%;
    left:11%;
    font-weight: 400;
}
.login-container .form .login-details{
    position: absolute;
    /* border: 1px solid black; */
    width: 80%;
    height: 65%;
    bottom: 5%;
    left: 11%;
    /* transform: translateX(-50%); */
}
.login-container .form .login-details .username{
    position: relative;
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.login-container .form .login-details .username input {
    height:65px;
    border-radius: 15px 15px;
    border: 1px solid #c7c7c7;
    text-indent: 60px;
    /* background-image: url('/src/Components/Assets/usernameLogo.png'); */
    /* background-repeat: no-repeat;   
    background-size: 20px;
    background-position: 20px center; */
    outline: none;
    /* display: block; */
}
.login-container .form .login-details .username .lock{
    position:absolute;
    top: 50%;
    transform: translateY(-23%);
    background-image: url('/src/Components/Assets/usernameLogo.png'); 
    background-repeat: no-repeat;   
    background-size: 20px;
    background-position: 20px center;
    height: 50px;
    width: 50px;
    /* border: 1px solid red; */
}
.login-container .form .login-details .username input::placeholder{
    font-size: 14px;
}
.login-container .form .login-details .username input#username:focus{
    border-color: #125eaaec;
    box-shadow: 0 3px 6px #dedede;
    /* border-radius: 15px;     */
}


.login-container .form .login-details .password{
    position: relative;
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}
.login-container .form .login-details .password input {
    height:65px;
    width: 100%;
    border-radius: 15px 15px;
    border: 1px solid #c7c7c7;
    text-indent: 60px;
    background-image: url('/src/Components/Assets/lock.png');
    background-repeat: no-repeat;   
    background-size: 25px;
    background-position: 20px center;
    outline: none;
}
.login-container .form .login-details .password input::placeholder{
    font-size: 14px;
}
.login-container .form .login-details .password input#password:focus{
    border-color: #125eaaec;
    box-shadow: 0 3px 6px #dedede;
    /* border-radius: 15px;     */
}
.login-container .form .login-details .password .eye-icon{
    position: absolute;
    right: 5%;
    bottom: 10%;
    cursor: pointer;
    width: 50px; 
    height: 50px;
    background-image: url('/src/Components/Assets/eye.png');  
    background-repeat: no-repeat;   
    background-size: 20px;
    background-position:  center;
    /* border: 1px solid red; */
    
}
.login-container .form .login-details button{
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 72px;
    width: 208px;
    border-radius: 20px 20px;
    border: none;
    background-color: #4c8cccec;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
.login-container .form .login-details button:hover{
    background-color: #125eaaec;
}
