.backgroundLib {
    background-color: rgb(252, 252, 228);
    min-height: 100vh;
    /* border: 1px solid black; */
}

.bookDetailsContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
}

.childContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 80%;
    /* border: 1px solid red; */
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookImage {
    /* position: absolute; */
    /* top:13%; */
    height: 70%;
    width: 300px;
    /* border: 1px solid black; */
    margin-right: 40px;
}

.bookImage img {
    width: 100%;
    height: 100%;
}

.bookInfo {
    /* position: relative; */
    width: 50%;
    height: 70%;
    /* border: 1px solid red; */
}

.bookName {
    font-size: 22px;
}

.bookAuthor {
    /* margin-top: 5px; */
    font-style: italic;
    font-weight: 400;
}

.bookDescription {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.bookContentCurtain {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1b1b;
    opacity: 0.8;
}

.bookContentCurtain img {
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    right: 70px;
    top: 20px;
    cursor: pointer;
}

.bookContentCurtain img:active {
    background-color: #c7c7c7;
}

.bookContent {
    display: none;
    width: 70%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 9999;
}

.bookInfo .readingButton,
.downloadButton {
    margin-top: 70px;
    width: 120px;
    height: 45px;
    border-radius: 20px 20px;
    border: none;
    background-color: #198be1;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 5px #888888;
    font-size: 18px;
    font-weight: 500;
}

.downloadButton {
    width: 170px;
    margin-left: 15px;
    background-color: rgb(229, 229, 18);
    color: black;
}

.downloadButton:hover {
    background-color: rgb(203, 203, 15);
}

.downloadButton:active {
    background-color: rgb(160, 160, 14);
}

.readingButton:hover {
    background-color: #1267a8;
}

.readingButton:active {
    background-color: #0e5387;
}

.shareBtnContainer {
    display: flex;
    height: 40px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    margin-top: 15px;
}

.shareBtn {
    width: 40px;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 5px;
    margin-right: 5px;
}

.shareBtn img {
    height: 100%;
    width: 100%;
    /* border: 1px solid green; */
}