.Sidebar {
    position: absolute;
    /* border: 1px solid black; */
    background-color: rgb(252, 252, 228);
    width: 270px;
    height: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    /* border-right: 2px solid #c7c7c7; */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.242);
}

.Sidebar .buttonFunction {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px;
    /* border: 1px solid black;  */
    font-size: 18px;
    background-color: #0e5092dd;
    color: white;
    border: none;
    cursor: pointer;
}

.Sidebar .buttonFunction:hover {
    background-color: #073c71dd;
}

.Sidebar .buttonFunction:active {
    background-color: #002b55dd;
}

.Sidebar .link-style {
    color: white;
    text-decoration: none;
    width: 80%;
    height: 80px;
    /* border: 1px solid black; */
    border-radius: 20px 20px;
    margin-top: 20px;
}

.Sidebar .link-style:first-child {
    margin-top: 50px;
    /* margin-bottom: 20px; */
}