.graph .average .star-rating {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.graph .average .star-rating span {
    cursor: auto;
}

.star-rating {
    display: inline-block;
}

.star-rating .star {
    color: #c7c7c7;
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
}

.star.emptyColor {
    color: #012140dd;
}

.star-rating .star.active {
    color: #1d7ededd;
}

.commentForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.buttonContainer {
    align-self: flex-end;
}

.buttonContainer button {
    margin-left: 10px;
}

.buttonContainer .deleteButton {
    background-color: red;
}

.buttonContainer .deleteButton:hover {
    background-color: rgb(196, 21, 21);
}

.buttonContainer .deleteButton:active {
    background-color: rgb(160, 17, 17);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Ensure the modal spans the entire viewport width */
    height: 100%;
    /* Ensure the modal spans the entire viewport height */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure the modal is above other elements */
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.confirmButton,
.cancelButton {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmButton {
    background-color: red;
    color: white;
}

.cancelButton {
    background-color: grey;
    color: white;
}